<div class="sidebar">
  <a href="/">
    <h3>Home</h3>
  </a>
  <a href="/catalog/items">
    <h3>Full catalog</h3>
  </a>
  <a href="/catalog/categories">
    <h3>Categories</h3>
  </a>
  <a href="/catalog/brands">
    <h3>Brands</h3>
  </a>
  <hr>
  <a href="/catalog/item/create">
    <h3>Create New Item</h3>
  </a>
  <a href="/catalog/category/create">
    <h3>Create New Category</h3>
  </a>
  <a href="/catalog/brand/create">
    <h3>Create New Brand</h3>
  </a>
</div>